
.default-color0.chart-series-line {

    -fx-stroke: #ff3f80;


}

.default-color1.chart-series-line {

    -fx-stroke: #3e50b4;

}

.default-color0.chart-line-symbol{ -fx-background-color: #ff3f80, #ffffff;}

.default-color1.chart-line-symbol{ -fx-background-color: #3e50b4, #ffffff;}



